@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900 text-gray-100 antialiased;
}

::selection {
  @apply bg-blue-600 text-white;
}

/* In your global CSS file */
::selection {
  background-color: #4f46e5; /* Your Indigo-600 */
  color: white;
}

.dark ::selection {
  background-color: #ffffff;
  color: #000000;
}